fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-chroma
chromadb
sentence-transformers
rank-bm25
youtube-transcript-api
nltk
scikit-learn
numpy
